.search_container {
    padding-top: 64px;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.search__input {

}


.search__input input{
    width: 50%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: #bcbcf671;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 7px solid #5858ce;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d; 
}

.search__input input::placeholder { 
    color: rgba(87, 87, 86, 0.8); 
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input input:hover,
.search__input input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 50px;
    border-radius: 2px solid #2e2eb6;
    background-position: 100% center;
    padding-left: 3%;
}


.search__input button {
    color: #382cbd;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-weight: 7000;
}

.search__input button:hover {
    color: #0b0088;
    box-shadow: 2px 2px 5px #0b00884e;
}

