.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .recipe-card {
    flex: 2 2 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipe-image-container {
    flex: 1 1 400px;
    margin-right: 20px;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .recipe-details-container {
    flex: 2 1 400px;
    font-size: 2em;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    font-size: 1em;
  }
  
  .instructions-container {
    flex: 1;
  }
  
  .ingredients-container {
    flex: 1;
    margin-left: 100px;
  }
  
  .card-separator {
    flex: 1 1 100%;
    margin-top: 20px;
    display: flex;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #modal-cocktail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #00000055;
    z-index: 10;
  }

  