.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .recipe-card {
    flex: 2 2 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipe-image-container {
    flex: 1 1 400px;
    margin-right: 20px;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .recipe-details-container {
    flex: 2 1 400px;
    font-size: 2em;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    font-size: 1em;
  }
  
  .instructions-container {
    flex: 1;
  }
  
  .ingredients-container {
    flex: 1;
    margin-left: 100px;
  }
  
  .card-separator {
    flex: 1 1 100%;
    margin-top: 20px;
    display: flex;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

    /*B*/ 

.submit-button { 

  padding: 4px 8px; 

  border: 2px solid #000; 

  border-radius: 2px; 

  background-color: rgb(79, 44, 196); 

  font-size: 16px; 

  cursor: pointer; 

} 

 

.submit-button:hover { 

  background-color: hwb(88 18% 42% / 0.649); 

  color: hsl(144, 76%, 10%); 

} 



.rating-button { 

  padding: 2px 4px; 

  border: none; 

  border-radius: 5px; 

  background-color: #d8f51efb;  

  color: #fff;  

  margin-right: 5px; 

  cursor: pointer; 

} 

 

.rating-button:hover { 

  background-color: hwb(68 28% 6%); 

} 

 

.add-to-cart-button { 

  padding: 4px 8px; 

  border: none; 

  border-radius: 5px; 

  background-color: hsl(122, 83%, 23%);  

  color: #fff; 

  cursor: pointer; 

} 

 

.add-to-cart-button:hover { 

  background-color: #333;  

} 

 

.empty-cart-button { 

  padding: 10px 20px; 

  border: none; 

  border-radius: 5px; 

  background-color: hwb(358 8% 19%);  

  color: #fff;  

  cursor: pointer; 

} 

 

.empty-cart-button:hover { 

  background-color: #333;  

} 



.cocktail-recommendationer { 

  padding: 10px 20px; 

  border: none; 

  border-radius: 5px; 

  background-color: hwb(29 5% 6%);  

  color: #fff;  

  cursor: pointer; 

} 

 

.cocktail-recommendationer:hover { 

  background-color: #333;  

} 



 /* Inom Rekommenderad Cocktail 'button' */ 

.remove-button { 

  padding: 5px 10px; 

  background-color: #f60101;  

  color: white;  

  border: none; 

  border-radius: 5px; 

  cursor: pointer; 

} 

 

.remove-button:hover { 

  background-color: #333;  

} 



.se-alla-cocktails { 

  background-color: hsl(227, 85%, 39%); 

  color: white; 

  padding: 5px 10px; 

  border: none; 

  border-radius: 5px; 

  cursor: pointer; 

} 

 

.se-alla-cocktails:hover { 

  background-color: #333;  

} 



.stäng-button { 

  background-color: #cb530d; 

  color: white; 

  padding: 10px 20px; 

  border: none; 

  border-radius: 5px; 

  cursor: pointer; 

} 

 

.stäng-button:hover { 

  background-color: #333; /* Mörkare svart färg när du hovrar över */ 

} 

 

  