#toggle-filter-button {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: white;
  color: #2f2f2f;
  border: none;
  border-radius: 0px;
  margin-bottom: 6px;
  margin-left: 1.5em;
  transition: all 0.5s ease-in-out;
  font-family: "Gill Sans", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.3px;
}

#toggle-filter-button:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#filter-inside-collapse {
  padding: 20px;
  background-color: rgba(249, 247, 233, 0.813);
}

.radio-button input {
  display: none;
}

.radio-button span {
  background-color: rgb(243, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.3px;
}

.radio-button input:hover + span {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.radio-button input:checked + span {
  box-shadow: rgb(239, 237, 224) 0px 30px 60px -12px inset,
    rgb(239, 237, 224) 0px 18px 36px -18px inset;
  border: 0.5px solid black;
}

#dropdown-element {
  display: inline-block;
}

#reset-button {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: white;
  color: #2f2f2f;
  border: none;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
  font-family: "Gill Sans", sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.3px;
  margin-top: 15px;
}

#reset-button:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}