#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    z-index: 10;
}

.shoppingCart {
    width: 60%;
    height: 90%;
    margin: 2rem auto;
    background-color: #eee;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.shoppingCart .header {
    display: flex;
    background-color: #ccc;
    padding: 10px 20px;
    justify-content: space-between;
}

.close-button {
    color: #065a82;
}

.empty-text {
    display: block;
    padding: 2rem;
    margin: auto;
}

.cart-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    overflow-y: scroll;
    margin: 10px;
}

.product-image {
    max-width: 70px;
}

.checkout-clear {
    display: grid;
    grid-template-columns: 150px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.cocktail-image {
    cursor: pointer;
}
  
  /*B*/
.submit-button {
    padding: 4px 8px;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: rgb(79, 44, 196);
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: hwb(88 18% 42% / 0.649);
    color: hsl(144, 76%, 10%);
  }

  .rating-button {
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    background-color: #d8f51efb; 
    color: #fff; 
    margin-right: 5px;
    cursor: pointer;
  }
  
  .rating-button:hover {
    background-color: hwb(68 28% 6%);
  }
  
  .add-to-cart-button {
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background-color: hsl(122, 83%, 23%); 
    color: #fff;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #333; 
  }
  
  .empty-cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hwb(358 8% 19%); 
    color: #fff; 
    cursor: pointer;
  }
  
  .empty-cart-button:hover {
    background-color: #333; 
  }

  .cocktail-recommendationer {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hwb(29 5% 6%); 
    color: #fff; 
    cursor: pointer;
  }
  
  .cocktail-recommendationer:hover {
    background-color: #333; 
  }

   /* Inom Rekommenderad Cocktail 'button' */
  .remove-button {
    padding: 5px 10px;
    background-color: hwb(128 4% 40%); 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #333; 
  }

  .cocktails-button {
    background-color: hsl(227, 85%, 39%);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cocktails-button:hover {
    background-color: #333; 
  }

  .steng-button {
    background-color: #cb530d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .steng-button:hover {
    background-color: #333; 
  }
  
  
  
  
  